# kubernetes/infra/cilium/release.yaml
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
spec:
  interval: 20m
  chart:
    spec:
      chart: cilium
      # pin version to auto-update only minor releases
      version: ">=1.18.6 <1.19.0"
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
      interval: 10m
  values:
    hubble:
      relay:
        enabled: true
      ui:
        enabled: true
    k8sClientRateLimit:
      burst: 100
      qps: 50
    k8sServiceHost: 192.168.1.160
    k8sServicePort: 6443
    kubeProxyReplacement: true
    l2announcements:
      enabled: true
